* {
    font-family: 'Roboto', sans-serif;
}
body {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

table {
    border-spacing: 10px;
    border-collapse: collapse;
    text-align: left;
    width: 70%;
    margin: 0 auto;
}

th {
    padding: 10px;
    background-color: #1d96b2;
    color: white;
    font-weight: lighter;
}

td {
    padding: 7px;
    

}



